---

---

<html lang="es">
<head>
  <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bella Sombra | Reservar</title>
</head>

<body>
  <!-- Componente de la barra de navegación -->
  <h1>Reservar</h1>
  <p>Página para realizar reservar. Tengo que ver si hay una API del
    Cover Manager.
  </p>
</body>
</html>