---

---

<html lang="es">
<head>
  <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bella Sombra | Sobre nosotros</title>
</head>

<body>
  <!-- Componente de la barra de navegación -->
  <h1>Sobre nosotros</h1>
  <p>Una página para saber un poco más sobre el local, historia, etc.</p>
</body>
</html>