---
import Navbar from "@/components/layout/navbar.astro"
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bella Sombra</title>
</head>
<body class="bg-cover bg-[url('/src/assets/desktop_background.jpg')]">
  <Navbar />

  <main class="p-4">
    <slot />
  </main>
</body>
</html>